*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.applybox{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body
{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;

}
.applybox{
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    background-color:white;
    margin-top: 50px ;
    box-shadow: 5px 4px 7px rgba(1,1,1, 0.3);
    border-radius: 10px;
}
.small{
    font-size: 20px;
}
.from_container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 20px;
}
.form_control{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;   
}
label{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
}
input, select, textarea{
    padding: 6px 10px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 15px;
}
input:focus{
    outline-color: red;
}
.button_container{
    display: flex;

    justify-content: flex-end;
    margin-top: 20px;
}
button{
    background-color: blue;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: whitesmoke;
    border-radius: 9pxs;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: aliceblue;
    border: 2px solid red;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.textarea_control{
    grid-column: 1 / span 2;
}
.textarea_control textarea{
    width: 100%;
}
@media (max-width: 460px){
    .textarea_control{
        grid-column: 1 / span 1;
    }
}